
/**********************
GENERAL
**********************/

body {
  font-family: 'Open Sans', sans-serif;
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

/*links*/
a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}



/**********************
HEADING
**********************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
  color:#fff;
}

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 1em;
  margin: -5px 0 0;
  font-weight: normal;
}


/**********************
NAVIGATION
**********************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0;  
  padding: 0;
}

nav li {
  display: inline-block;
/*  margin: 0 1.03em;*/
    padding: 0 2%;
}

nav a {
  font-weight: 800;
  font-size: 110%;
/*  padding: 15px 10px;*/
}


/**********************
FOOTER
**********************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #BBB;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/**********************
PAGE: RESUME / CV
**********************/

/*resumebody*/
.resumebody {
  color: #272821;
  font-family: 'Bitter', serif;
  margin: 3px;
}

/*resume headers*/
.resumehead {
  font-size: 1.4em;
  /*font-family: 'Open Sans', sans-serif;*/
}

.darkText {
  color: #272821;
}

.greyText {
  color: #75715E;
}

h3.resumehead {
  margin: 30px 0px 15px 0px;
}

h4.resumehead {
  font-size: 1em;
  margin: 10px 0px 0px 0px;
}

.resumeHeader {
  margin-bottom: 10px;
}

.meter {
  /*float: left;*/
  width: 100px;
  height: 10px;
  margin: 5px 0px -10px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
}

.greenMeter {
  background-color:#2D84FA;
  /*width: 180px;*/
  height: 10px;
}

.skills {
  /*line-height:130%;*/
}

li {
  margin: 0px 0px 10px;
}

ul.dash {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
ul.dash li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

/**********************
PAGE: PORTFOLIO
**********************/

#gallery {
  margin:0;
  padding:0;
  list-style:none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
/*  color: #bdc3c7;  */
}



/**********************
PAGE: ABOUT
**********************/

.profile-photo {
  clear: both;
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

.resume-photo {
  /*clear: both;
  display: block;*/
  float: right;
  margin: 0px auto 30px;
  max-width: 110px;
  border-radius: 100%;
}

/**********************
PAGE: CONTACT
**********************/

.contact-info {
  list-style:none;
  padding:0;
  margin:0;
  font-size: 0.9em;
}

.contact-info a{
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

.contact-info li.snailmail {
  background-image: url('../img/mail.png');
}

/**********************
COLORS
**********************/

/*resume link*/
a.resumeLink {
  color: #4DA2E1;
}

/*header*/
header {
  background: #333;
  border-color: #777;
}

/* logo text*/
/*h1,h2 {
  color:#fff;
}*/

/*nav background in MOBILE site*/
nav {
  background: #777;
}

/*nav link*/
nav a, nav a:visited {
  color: #fff;
}

/*selected nav link*/
nav a.selected, nav a:hover {
 color: #2D84FA; 
}

/*body*/
body {
  background-color: #fff;
  color: #444;
}

/*gallery link*/
#gallery a, #gallery a:visited {
  color: #32673f;
}

/*selected gallery link*/
#gallery a.selected, #gallery a:hover {
  color: #333;
}

/*contact link*/
.contact-info a, .contact-info a:visited {
  color: #375079;
}

/*selected contact link*/
.contact-info a.selected, .contact-info a:hover {
  color: #333;
}
