$blue: #0446d9;
$navy: #245276;

body {
}

.tab {
  margin: .5em;
}

a {
  color: $navy;
  &:visited {
    color: $navy;
  }
  &:hover {
    color: $blue;
    text-decoration: none;
    transition: color .3s;
  }
  &:active {
    transition: color .3s;
    color: black;
  }
}

header {
  border-bottom: 1px solid lightgrey;
  margin: 5px 0 0;
  padding: 0 0 3px 0;
}

footer {
  border-top: 1px solid lightgrey;
  margin: 5px 0 0;
  padding: 0 0 3px 0;
  & a{
    padding: 0 .3em;
  }
}

.heading {
  padding: 0;
  margin: 0;
}

.heading2 {
  margin: .3em 0 .5em;
}

.heading-title {

}

.subheading1 {
  margin: 0;
  padding: 0;
}

.contact {
  margin: 0 20px 5px 0;
}

.icon-text {
  margin: 0 15px 0;
}

.band {
  overflow: auto;
}

.section-image {
  //margin-top: 1.5em;
  &.predictor {
    //margin-top: 2em;
  }
}

.section-break {
  margin: 0 0 .4em;
  color: $navy;
}

.section-title {
  margin: 0;
}

.section-subtitle {
  margin: .2em 0 0;
}

.section-body {
  padding: 0;
}

// ============
// MEDIA QUERIES
// ============

/* Less than Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .text-xs-center {
    text-align: center;
  }
}

// ====================
// Testing black border
// ====================
//* {  border: 2px solid black; }