body {
  //padding: 10px 20px;
}

header {
  border-bottom: 1px solid lightgrey
  
}

.heading {
  padding: 0;
  margin: 0;
}

.subheading1 {
  margin: 0 0 0;
}

.contact {
  margin: 0 0 5px;
}

.icon-text {
  margin: 0 15px 0;

}

//* {  border: 2px solid black; }