doctype html
html(lang="en")
    head
        title= "Michael Liquori"
        link(rel='stylesheet', href='public/vendor/readable/bootstrap.min.css')
        link(rel='stylesheet', href='public/vendor/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='public/vendor/animate/animate.css')
        link(rel='stylesheet', href='public/stylesheets/custom.css')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
    body
        header.container(role='banner')
            h1.heading.text-left.text-xs-center.col-sm-8.col-xs-12 Michael Liquori
            h5.subheading1.text-right.text-xs-center.col-sm-4.col-xs-12
                .contact
                    i.fa.fa-envelope-o
                    a.icon-text(href='mailto:liquori@gmail.com') liquori@gmail.com
                .contact
                    i.fa.fa-phone
                    a.icon-text(href='tel:13528701905') +1 (352) 870 1905
                    span.tab
        h1.heading2.text-center
                .heading-title
                    span Work
        section.band.derby.text-xs-center
            .section-image.col-xs-12.col-sm-3.col-sm-offset-1.col-md-offset-2
                img.animated.bounceInLeft(src='public/img/3mhorses/horse_and_flag.png')
            .section-content.col-xs-12.col-sm-6
                h3.section-title International Sales Derby
                h5.section-subtitle Client: 3M Health, Infection Prevention Division
                    .section-body.col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-12
                        h5
                            a(href='https://ipd3m.herokuapp.com/') Demo (L / P = 'Damo')
                        h5
                            a(href='https://github.com/mliq/prime_solo_project') Github
                        h5 An animated dashboard that injects adrenaline to a sales incentive challenge.
                        h6 Technologies: AngularJS, Node.js, MongoDB, Passport.js, Jade, Sass, bcrypt, RESTful API design & consumption, xlsx-to-json
        .band.text-xs-center
            .section-image.col-xs-12.col-sm-3.col-sm-offset-1.col-md-offset-2
            .section-breakbox.col-xs-12.col-sm-6
                h3.section-break.text-center
                    span ---
                    i.fa.fa-angle-right
                    i.fa.fa-angle-left
                    span ---
        section.band.predictor.text-xs-center
            .section-image.predictor.col-xs-12.col-sm-3.col-sm-offset-1.col-md-offset-2
                img(src='public/img/predictor/predictor14.gif')
            .section-content.col-xs-12.col-sm-6
                h3.section-title Predictor!
                h5.section-subtitle Capstone Project, Johns Hopkins Data Science
                .section-body.col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-12
                    h5
                        a(href='https://mliq.shinyapps.io/Predictor') Demo
                    h5
                        a(href='http://rpubs.com/mliq/49105') Final Presentation
                    h5
                        a(href='http://rpubs.com/mliq/Milestone1') Data Visualizations
                    h5
                        a(href='https://github.com/mliq/Predictor') Github
                    h5.list Predictive-text web app intended to work on minimal spec mobile devices.
                        h6.col-xs-11.col-xs-offset-1.col-sm-offset-0.col-sm-12.list
                            ul.fa-ul.list
                                li
                                    i.fa-li.fa.fa-check
                                    h6 Built from big data (over 4 million lines of messy webscraped text from Twitter and others)
                                li
                                    i.fa-li.fa.fa-check
                                    h6 Competitive rates of next-word prediction accuracy (15%)
                                li
                                    i.fa-li.fa.fa-check
                                    h6 < 2 seconds response time
                                li
                                    i.fa-li.fa.fa-check
                                    h6 Memory footprint < 10 MB
                    h6 Technologies: R, Shiny, Amazon Web Services Elastic Cloud (EC2) virtual machines, Regex
        .band.text-xs-center
            .section-image.col-xs-12.col-sm-3.col-sm-offset-1.col-md-offset-2
            .section-breakbox.col-xs-12.col-sm-6
                h3.section-break.text-center
                    span ---
                    i.fa.fa-angle-right
                    i.fa.fa-angle-left
                    span ---
        section.band.healthmap.text-xs-center
            .section-image.healthmap.col-xs-12.col-sm-3.col-sm-offset-1.col-md-offset-2
                img(src='public/img/healthmap/map.png')
            .section-content.col-xs-12.col-sm-6
                h3.section-title HealthMap
                h5.section-subtitle Client: 3M Health, Infection Prevention Division
                .section-body.col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-12
                    h5
                        a(href='https://mliq.shinyapps.io/HealthMap') Demo
                    h5
                        a(href='https://github.com/mliq/HealthMap')  GitHub
                    h5 A modified version was used by 3M IPD for 2014 International $1 Billion Sales Challenge (demo version uses open World Bank data).
                    h6 Technologies: R, Shiny, Google Maps API, Regex
        footer
            h2.text-center.footer
                a(href='https://github.com/mliq')
                    i.fa.fa-github
                a(href='http://stackexchange.com/users/2706904/mliqu?tab=accounts')
                    i.fa.fa-stack-exchange
                a(href='https://www.linkedin.com/in/liquori')
                    i.fa.fa-linkedin-square
                a(href='https://twitter.com/mliq')
                    i.fa.fa-twitter
                a(href='https://www.facebook.com/liquori')
                    i.fa.fa-facebook-official