<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Michael Liquori</title>
        <!-- ANALYTICS -->
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-59168233-1', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- Scripts-->
        <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="scripts/app.min.js"></script>
        <!-- CSS, Bootstrap-->
        <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles/stylesheet.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONT -->
        <script src="//use.typekit.net/mds7daz.js"></script>
        <script>try {
            Typekit.load();
        } catch (e) {
        }</script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="sticky row test">
                <div class="container-fluid band0 col-xs-5 text-center test">
                    <div class="name test">Michael Liquori</div>
                </div>
                <div class="container-fluid band1 col-xs-3 text-center">
                    <div class="col-xs-12 nav test">
                        <span class="projects test">portfolio</span>
                        <span class="test contact">contact</span>
                        <br>
                    </div>
                </div>
                <div class="col-xs-7 test menuHere">
                    <!-- Insert via jQuery-->
                </div>
            </div>
            <!-- Subnav, band 2, Contacts and Projects-->
            <div class="container-fluid row band2">

                <!-- Projects subnav-->
                <div class="nav2 test">
                    <span class="closebutton glyphicon glyphicon-remove test"></span>

                    <div class="project1">
                        fruit stand
                    </div>
                    <div class="project2">
                        other cool project
                    </div>
                </div>
            </div>
        </div>
        <!-- glyphicon glyphicon-remove-->
        <!-- Contact subnav -->
        <div class="container-fluid row band2">
            <div class="showoff test col-xs-12 col-sm-8">
                <span class="closebutton glyphicon glyphicon-remove test"></span>
                <span class="projectCopy test">no bananas to sell!?!</span>
                <img src="img/mary_fruit_stand.jpg" style="display: none">
            </div>
        </div>
        </div>
    </body>
    </head>
</html>