doctype html
html(lang="en")
    head
        title= "Michael Liquori"
        link(rel='stylesheet', href='../public/vendor/readable/bootstrap.min.css')
        link(rel='stylesheet', href='../public/vendor/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='../public/stylesheets/custom.css')
    body
        h1 Michael Liquori
        h5.subheading1.col-sm-3
            i.fa.fa-envelope-o
            a.contact(href='mailto:liquori@gmail.com') liquori@gmail.com
            p
            i.fa.fa-phone
            span.contact +1 (352) 870 1905