<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Michael Liquori | Developer</title>
        <!-- ANALYTICS -->
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-59168233-1', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- Scripts-->
        <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="scripts/app.min.js"></script>
        <!-- CSS, Bootstrap-->
        <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles/stylesheet.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONT -->
        <script src="//use.typekit.net/mds7daz.js"></script>
        <script>try {
            Typekit.load();
        } catch (e) {
        }</script>
    </head>
    <body>
        <div class="container">
            <div class="col-xs-6 col-sm-6 col-md-6 nav test">
                <div class="name">Michael Liquori</div>
            </div>
        </div>
        <div class="container">
            <div class="col-xs-6 col-sm-4 col-md-4 nav test">
                <div class="projects">projects</div>
                <div class="contact">contact</div>
            </div>
            <!-- Projects subnav-->
            <div class="col-xs-5 col-sm-5 col-md-5 nav2 test">
                <div class="project1">
                    Fruit Stand
                </div>
                <div class="project2">
                    Other cool project
                </div>
            </div>
            <!-- glyphicon glyphicon-remove-->
            <!-- Contact subnav -->
            <div class="container">
                <div class="contacts test col-xs-5 col-sm-4">
                    <span class="closebutton glyphicon glyphicon-remove"></span>
                <ul>
                    <li class="mail">E-mailz</li>
                    <li class="tweet">Tweetz</li>
                    <li class="lnkd">Linky</li>
                    <li class="fbook">Facey</li>
                    <li class="git">Gitt</li>
                </ul>
                </div>
                <div class="contacts test col-xs-5 col-sm-3">
                    <span class="closebutton glyphicon glyphicon-remove"></span><br>
                    <img src="http://placekitten.com/g/200/300">
                </div>
            </div>
        </div>
    </body>
    </head>
</html>