doctype html
html(lang="en")
    head
        title= "Michael Liquori"
        link(rel='stylesheet', href='../public/vendor/readable/bootstrap.min.css')
        link(rel='stylesheet', href='../public/vendor/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='../public/stylesheets/custom.css')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
    body
        header.container(role='banner')
            h1.heading.text-left.text-xs-center.col-sm-8.col-xs-12 Michael Liquori
            h5.subheading1.text-right.text-xs-center.col-sm-4.col-xs-12
                .contact
                    i.fa.fa-envelope-o
                    a.icon-text(href='mailto:liquori@gmail.com') liquori@gmail.com
                .contact
                    i.fa.fa-phone
                    span.icon-text +1 (352) 870 1905
        h2.heading2.text-center
            span.heading-title Portfolio
        section.band.derby
            span.section-text-right.col-xs-8.col-sm-7
                h3.section-title 3M International Sales Derby
                h5.section-text lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
            //            .col-xs-offset-4.col-xs-8.col-sm-offset-5.col-sm-7
            span.section-image-left
                img(src='http://placehold.it/150x150')
