body {
    padding: 0 0 0 25px;
    font-family: "droid-sans",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 220%;
}

.nav{
    background-color: white;
    color: black;
    margin: 27px auto 0;
    font-size: 145%;
    /*border: solid 2px black;*/
}

.name {
    padding: 0 0 0 10px;
    font-size: 150%;
}

.projects:hover {
    color: #ff992f;
}

.contact:hover {
    color: #2571ff;
}

.nav2{
    background-color: white;
    color: black;
    margin: 3px 5px;
    display: none;
    font-size: 125%;
}

.project1 {
    margin-top: -10px;
}

.project1:hover {
    color: #46fc0f;
}

.project2:hover {
    color: deeppink;
}

.contacts {
    padding: 5px;
    display: none;
}

.showoff {
    /*margin: 0 0 0 20px;*/
    background-image: url("../img/mary_fruit_stand.jpeg");
    width: auto;
    height: 472px;
    display: none;
    white-space: nowrap;
    /*position: relative;*/
}

.projectCopy {
    padding: 2%;
    /*border: dotted 2px black;*/
    margin: 50% 0 0 25%;
    display: inline-block;
    font-family: "droid-sans",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 220%;
    color: #2f4eff;
    background-color: black;
}

.row {
    clear: both;
}

ul {
    list-style: none;

}

.closebutton {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 1.3rem;
    margin: 0 0 0 -13px;
}

.closebutton:hover {
    color: red;
}

@media only screen and (max-width: 560px) {

    body { font-size: 150%; }
    .showoff {
        height: 236px;
        width: 315px;
        background-image: url("../img/mary_fruit_stand_sm.jpeg");
    }
    .projectCopy {font-size: 200%;}
    li { display: inline; }

}

.test {
    /*border: solid 2px black;*/
}