body {
    font-family: "droid-sans",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
}

.nav{
    /*padding: 0 0 0 20px;*/
    background-color: white;
    color: black;
    margin: 40px 0 0 20px;
    font-size: 145%;
    /*border: solid 2px black;*/
}

.name {
    margin: 0 0 0 0;
    font-size: 200%;
    float:left;
}

.topbar {
    border: solid 2px black;
}

.projects:hover {
    color: #ff992f;
}

.contact:hover {
    color: #2571ff;
}

.nav2{
    background-color: white;
    color: black;
    margin: 11px 0 0 20px;
    display: none;
    font-size: 125%;
}

.project1 {
    margin-top: -10px;
}

.project1:hover {
    color: #46fc0f;
}

.project2:hover {
    color: deeppink;
}

.contacts {
    margin: 10px 0 0 20px;
    /*padding: 5px;*/
    display: none;
}

.showoff {
    margin: 25px 0 0 45px;
    background-image: url("../img/mary_fruit_stand.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    /*width: auto;*/
    height: 472px;
    display: none;
    white-space: nowrap;
    /*position: relative;*/
}

.projectCopy {
    padding: 2%;
    /*border: dotted 2px black;*/
    margin: 0 0 0 0;
    display: inline-block;
    font-family: "droid-sans",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 220%;
    color: #2f4eff;
    background-color: black;
}

.row {
    clear: both;
}

ul {
    list-style: none;
    padding-left:0;
}

.closebutton {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 1.3rem;
    margin: 0 0 0 -13px;
}

.closebutton:hover {
    color: red;
}

@media only screen and (max-width: 770px) {

    body { font-size: 15px; }
    .showoff {
        height: 236px;
        width: 315px;
        /*background-image: url("../img/mary_fruit_stand_sm.jpeg");*/
        margin-left: 10px;
    }
    .projectCopy {font-size: 200%;}
    /*li { display: inline; }*/
    .nav {margin: 35px 0 0 20px;}
    .nav2 {margin-top: 10px;}

}

.test {
    border: solid 2px black;
}