/* line 5, ../sass/custom.scss */
.tab {
  margin: 0.5em;
}

/* line 8, ../sass/custom.scss */
.tab-sm {
  margin: 0.5em;
}

/* line 11, ../sass/custom.scss */
.navy {
  color: #245276;
  font-size: 0.8em;
}

/* line 19, ../sass/custom.scss */
.section-image ul {
  margin-right: 2em;
}

/* line 23, ../sass/custom.scss */
.section-body ul {
  text-align: left;
}

/* line 27, ../sass/custom.scss */
.list {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
}

/* line 33, ../sass/custom.scss */
.linkbox {
  padding-top: 1em;
}

/* line 36, ../sass/custom.scss */
.section-summary {
  margin-bottom: 0;
}

/* line 40, ../sass/custom.scss */
a {
  color: #245276;
}
/* line 42, ../sass/custom.scss */
a:visited {
  color: #245276;
}
/* line 45, ../sass/custom.scss */
a:hover {
  color: #0446d9;
  text-decoration: none;
  transition: color 0.3s;
}
/* line 50, ../sass/custom.scss */
a:active {
  transition: color 0.3s;
  color: black;
}

/* line 56, ../sass/custom.scss */
header {
  border-bottom: 1px solid lightgrey;
  margin: 5px 0 0;
  padding: 0 0 3px 0;
}

/* line 62, ../sass/custom.scss */
footer {
  border-top: 1px solid lightgrey;
  margin: 5px 0 0;
  padding: 0 0 3px 0;
}
/* line 66, ../sass/custom.scss */
footer a {
  padding: 0 0.3em;
}

/* line 71, ../sass/custom.scss */
.heading {
  padding: 0;
  margin: 0;
}

/* line 76, ../sass/custom.scss */
.heading2 {
  margin: 0.3em 0 0.5em;
}

/* line 84, ../sass/custom.scss */
.subheading1 {
  margin: 0;
  padding: 0;
}

/* line 89, ../sass/custom.scss */
.contact {
  margin: 0 0 5px;
}

/* line 93, ../sass/custom.scss */
.icon-text {
  margin: 0 15px 0;
}

/* line 97, ../sass/custom.scss */
.band {
  overflow: auto;
}

/* line 110, ../sass/custom.scss */
.section-break {
  margin: 0.1em 0 0.3em;
  color: #245276;
}

/* line 115, ../sass/custom.scss */
.section-title {
  margin: 0;
}

/* line 119, ../sass/custom.scss */
.section-subtitle {
  margin: 0.2em 0 0.2em;
}

/* line 123, ../sass/custom.scss */
.section-title-xs {
  margin: 0;
}

/* line 127, ../sass/custom.scss */
.section-subtitle-xs {
  margin: 0.2em 0 0.2em;
}

/* line 131, ../sass/custom.scss */
.section-body {
  padding: 0;
}

/* line 135, ../sass/custom.scss */
.predictor img {
  margin-bottom: 15px;
}

/* line 144, ../sass/custom.scss */
.password {
  padding: 0 0.3em;
}

/* line 148, ../sass/custom.scss */
.demobox {
  font-size: 2.3rem;
  margin: 0.9em 0 0;
}
/* line 151, ../sass/custom.scss */
.demobox:hover .password {
  border: 2px dotted #cc4c46;
}
/* line 154, ../sass/custom.scss */
.demobox .fa-external-link {
  font-size: 2em;
}

/* line 160, ../sass/custom.scss */
.red {
  color: #cc4c46;
}

/* line 164, ../sass/custom.scss */
.smaller {
  font-size: 0.8em;
}

/* line 168, ../sass/custom.scss */
.git {
  margin: 1em 0 0;
  font-size: 1.8rem;
}
/* line 171, ../sass/custom.scss */
.git .fa-github {
  font-size: 3rem;
}

/* line 176, ../sass/custom.scss */
.fa-laptop {
  font-size: 3rem;
}

/* line 179, ../sass/custom.scss */
.animated {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Less than Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  /* line 191, ../sass/custom.scss */
  .text-xs-center {
    text-align: center;
  }

  /* line 194, ../sass/custom.scss */
  .tab-sm {
    margin: 0em;
  }

  /* line 197, ../sass/custom.scss */
  .section-content-sm {
    display: none;
  }

  /* line 200, ../sass/custom.scss */
  .demobox .fa-external-link {
    margin-top: 0.2em;
  }

  /* line 203, ../sass/custom.scss */
  h6.first {
    margin-top: 0;
  }
}
/* Vertically center images on larger screens */
@media (min-width: 768px) {
  /* line 211, ../sass/custom.scss */
  .section-content-xs {
    display: none;
  }

  /* line 214, ../sass/custom.scss */
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 870px) {
  /* line 220, ../sass/custom.scss */
  .predictor img {
    margin-left: -1em;
  }
}

.alert-banner {
  background-color: rgb(246, 230, 248);
  border-radius: 7px;
  color: rgb(0, 0, 0);
  display: flex;
  line-height: 2em;
  margin: 1em auto 0;
  max-width: 80%;
  padding: 0 2em;
}

.alert-banner > * {
  font-size: 18px;
  margin: 0.3em auto;
  text-align: center;
}
