/* line 5, ../sass/custom.scss */
.tab {
  margin: .5em;
}

/* line 8, ../sass/custom.scss */
.tab-sm {
  margin: .5em;
}

/* line 11, ../sass/custom.scss */
.navy {
  color: #245276;
  font-size: .8em;
}

/* line 19, ../sass/custom.scss */
.section-image ul {
  margin-right: 2em;
}

/* line 23, ../sass/custom.scss */
.section-body ul {
  text-align: left;
}

/* line 27, ../sass/custom.scss */
.list {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 32, ../sass/custom.scss */
a {
  color: #245276;
}
/* line 34, ../sass/custom.scss */
a:visited {
  color: #245276;
}
/* line 37, ../sass/custom.scss */
a:hover {
  color: #0446d9;
  text-decoration: none;
  transition: color .3s;
}
/* line 42, ../sass/custom.scss */
a:active {
  transition: color .3s;
  color: black;
}

/* line 48, ../sass/custom.scss */
header {
  border-bottom: 1px solid lightgrey;
  margin: 5px 0 0;
  padding: 0 0 3px 0;
}

/* line 54, ../sass/custom.scss */
footer {
  border-top: 1px solid lightgrey;
  margin: 5px 0 0;
  padding: 0 0 3px 0;
}
/* line 58, ../sass/custom.scss */
footer a {
  padding: 0 .3em;
}

/* line 63, ../sass/custom.scss */
.heading {
  padding: 0;
  margin: 0;
}

/* line 68, ../sass/custom.scss */
.heading2 {
  margin: .3em 0 .5em;
}

/* line 76, ../sass/custom.scss */
.subheading1 {
  margin: 0;
  padding: 0;
}

/* line 81, ../sass/custom.scss */
.contact {
  margin: 0 0 5px;
}

/* line 85, ../sass/custom.scss */
.icon-text {
  margin: 0 15px 0;
}

/* line 89, ../sass/custom.scss */
.band {
  overflow: auto;
}

/* line 102, ../sass/custom.scss */
.section-break {
  margin: .1em 0 .3em;
  color: #245276;
}

/* line 107, ../sass/custom.scss */
.section-title {
  margin: 0;
}

/* line 111, ../sass/custom.scss */
.section-subtitle {
  margin: .2em 0 0;
}

/* line 115, ../sass/custom.scss */
.section-body {
  padding: 0;
}

/* line 119, ../sass/custom.scss */
.predictor img {
  margin-bottom: 15px;
}

/* line 124, ../sass/custom.scss */
.demobox {
  margin-top: .5em;
  font-size: 2.3rem;
}
/* line 127, ../sass/custom.scss */
.demobox .fa-arrow-right {
  margin: .5em .5em 0;
}
/* line 130, ../sass/custom.scss */
.demobox:hover .password {
  border: 2px dotted #CC4C46;
}

/* line 136, ../sass/custom.scss */
.red {
  color: #CC4C46;
}

/* line 140, ../sass/custom.scss */
.smaller {
  font-size: .8em;
}

/* line 144, ../sass/custom.scss */
.one-line {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 149, ../sass/custom.scss */
.git {
  font-size: 1.8rem;
}
/* line 151, ../sass/custom.scss */
.git .fa-github {
  font-size: 3rem;
}

/* line 156, ../sass/custom.scss */
.fa-laptop {
  font-size: 3rem;
}

/* line 159, ../sass/custom.scss */
.animated {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Less than Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  /* line 170, ../sass/custom.scss */
  .text-xs-center {
    text-align: center;
  }

  /* line 173, ../sass/custom.scss */
  .tab-sm {
    margin: 0em;
  }
}
/* Vertically center images on larger screens */
