
/**********************
IPHONE PORTRAIT MODE (300PX)
**********************/

@media screen and (max-width: 479px) {
  
  /*ONE COLUMN LAYOUT, CENTER TEXT*/
  
  #resumeLeft {
    width: 80%;
    margin: auto auto auto auto;
  }
  
  #resumeRight {
    width: 80%;
    margin: auto;
  }

  .contact-info li {
    display: inline-block;
    /*margin: 0 2px 0;*/
  }

  .contact-info a{
    /*display: inline;*/
    min-height: 0px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 0;
  }

  .skills {
    /*display: none;*/
    margin: auto;
  }

  .skills br {
    display: none;
  }

  .skills ul {
    width: 90%;
    list-style: none;
    margin: 0;
  }

  .skills li {
    display: inline-block;
    margin: auto 5px auto 0;
    width: 38%;
  }

.meter {
  display: inline-block;
  width: 38%;
  height: 10px;
  margin: 0 5px 0 0;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
}

.greenMeter {
  background-color:#2D84FA;
  /*width: 180px;*/
  height: 10px;
}

  body {
    /*font-size: 135%;*/
    /*margin: 0 auto;*/
  }
  
  header{
    /*margin: 0;*/
    /*padding: 0;*/
  }

  nav {
    padding: 10px 0 5px;
    margin: 20px 0 0;
  }

  h3.resumehead {
    margin: 0px 0px 15px 0px;
  }

  h4.resumehead {
    font-size: 1em;
    margin: 10px 0px 0px 0px;
  }

}
/**********************
TABLETS
**********************/

@media screen and (min-width: 480px) {
  
  nav {
    padding: 10px 0 5px;
    margin: 20px 0 0;
  }



  /**********************
  TWO COLUMN LAYOUT
  **********************/
  #primary {
    width: 50%;
    float: left;
  }
  
  #secondary {
    width: 40%;
    float: right;
  }

  #resumeLeft {
    width: 30%;
    float: left;
  }
  
  #resumeRight {
    width: 60%;
    float: right;
  }

  /**********************
  PAGE: PORTFOLIO
  **********************/
  
  /*
  MATH:
  we know we want 3 elements side by side.
  total width of each element is 5 because of margin 2.5 all sides.
  3 * 5 = 15
  So 15% is the total margin.
  100% - 15% = 85%
  Leaving 85% for our items.
  85/3 = 28.3333333333
  so 28.333333% is width of our gallery items.
  */
  
  #gallery li {
    width: 28.3333%;
  }
  
  #gallery li:nth-child(4n) {
    clear:left;
  }
  
  /**********************
  PAGE: ABOUT
  **********************/
  
  .profile-photo {
    float:left;
    margin: 0 5% 80px 0;  
  }
}

/**********************
LAPTOPS
**********************/

@media screen and (min-width: 660px) {
  /**********************
  HEADER
  **********************/
  
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  
  h1 {
    font-size:2.5em;
  }
  
  h2 {
    font-size: 0.925em;
    margin-bottom: 20px;
  }
  
  header {
    border-bottom: 5px solid #2D84FA;
    margin-bottom: 60px;
  }
      
}