body {
    font-family: "droid-sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
}

.nav {
    /*max-width: 180px;*/
    /*padding: 0 0 0 20px;*/
    background-color: white;
    color: black;
    /*margin: 40px 0 0 20px;*/
    font-size: 110%;
    /*border: solid 2px black;*/
    /*white-space: nowrap;*/
    /*border-radius: 0 0 5px 5px;*/
    /*border: */
}

.band0 {
    margin: 0px 0 0 10px;
    padding: 7px;
    border-radius: 5px;
    max-width: 364px;
}

.band1 {
    /*max-width:220px;*/
    /*background-color: lightgray;*/
    /*padding: 20px;*/
    margin: -5px 0px -18px 15px;
    padding: 7px;
    border-radius: 5px;
    min-width: 250px;
}

.band0:hover {
    border-radius: 5px;
}

.band1:hover {
    /*background-color: pink;*/
}

.longText {
    font-size: 70%;
    overflow: scroll;
    height: 85%;
}

.header {
    padding: 10px 0;
}

.band2 {
    margin: 80px 0 0;
    background-image: url("../img/yel_black_stripe.png");
    /*background-color: #ffff4e;*/
    /*margin: 0px 50px;*/
}

.name {
    /*margin: 0 10px;*/
    font-size: 200%;
    max-width: 360px;
    border-radius: 5px;
}

.menuHere {
    padding: 0;
    font-size: 90%;
    /*max-width: 360px;*/
    /*min-width: 360px;*/
}

.topbar {
    border-top: solid black 4px;
}

.projects {
    margin: 0 5px;
    padding: 5px;
}

.projects:hover {
    color: white;
    background-color: #ff992f;
    padding: 5px;
}

.contact {
    padding: 5px;
}

.contact:hover {
    color: white;
    background-color: #2571ff;
    padding: 5px;
}

.projectList {
    margin: 7px 0 0 0px;
    /*background-color: white;*/
    /*color: black;*/
    /*margin: 41px 0 0 350px;*/
    /*font-size: 125%;*/
}

.project1 {
    margin-top: -10px;
}

.project1:hover {
    color: #46fc0f;
}

.project2:hover {
    color: deeppink;
}

.contacts {
    margin: 7px 0 0 0px;
    /*padding: 5px;*/
    font-size: 80%;
}

.showoff {
    /*margin: 25px 0 0 45px;*/
    width: auto;
    height: 472px;
    /*display: none;*/
    white-space: nowrap;
    /*position: relative;*/
}

.projectImage {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 400px;
    margin-top: 20px;
}

.projectCopy {
    padding: 2%;
    position: absolute;
    /*border: dotted 2px black;*/
    /*margin: 40% 0 0 15%;*/
    /*display: inline-block;*/
    margin: 15% 0 0 15%;
    font-family: "droid-sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 180%;
    color: #2f4eff;
    background-color: black;
    z-index: 999;
}

.row {
    clear: both;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: inline;
}

.closebutton {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 4rem;
    margin: 0 0 0 -27px;
    color: dimgrey;
}

.closebutton:hover {
    color: red;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1001;
    background-color: white;
}

.longCopy {
    background-color: #ff6d94;
    float: right;
    height: 90%;
    white-space: normal;
    margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px) {
    body {
        /*font-size: 16px;*/
    }
}

@media only screen and (max-width: 800px) {

    body {
        /*font-size: 13px;*/
    }

    /*.sticky {*/
    /*display: inline;*/
    /*}*/

    .band1 {
        max-width: 360px;
    }

    .menuHere {
        /*text-align: center;*/
        /*max-width: 360px;*/
        /*min-width: 360px;*/
    }

    /*.showoff {*/
    /*height: 236px;*/
    /*width: 315px;*/
    /*/!*background-image: url("../img/mary_fruit_stand_sm.jpeg");*!/*/
    /*margin-left: 10px;*/
    /*}*/
    /*.projectCopy {font-size: 200%;}*/
    /*/!*li { display: inline; }*!/*/
    /*.nav {*/
    /*font-size: 100%;*/
    /*/!*margin: 35px 0 0 20px;*!/*/
    /*}*/
    /*.nav2 {margin-top: 10px;}*/

}

@media only screen and (max-width: 750px) {
    body {
        font-size: 16px;
    }

    .band1 {
        margin-top: -15px;
    }

    .band2 {
        margin: 30px 0 0 0;
        height: 1000px;
        display: none;
    }

    .sticky {
        position: static;
    }

    ul {
        margin: -15px 0 10px 0;
    }

}

.test {
    /*border: solid 2px black;*/
}