body {
    font-family: "droid-sans",sans-serif;
}

.nav{
    background-color: white;
    color: black;
    margin: 15px auto 0;
    /*border: solid 2px black;*/
}

.name {
    padding: 0 0 0 10px;
    font-family: "droid-sans",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 290%;
}

.projects {
    padding: 0 0 0 25px;
    font-family: "droid-sans",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 220%;
}

.projects:hover {
    color: #ff992f;
}

.contact {
    padding: 0 0 0 25px;
    font-family: "droid-sans",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 220%;
}

.contact:hover {
    color: #2571ff;
}

.nav2{
    background-color: white;
    color: black;
    margin: 3px auto;
    /*border: solid 2px black;*/
    white-space: nowrap;
    display: none;
}

.project1 {
    margin-top: -10px;
    padding: 0 0 0 25px;
    font-family: "droid-sans",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 220%;
}

.project1:hover {
    color: #46fc0f;
}

.project2 {
    padding: 0 0 0 25px;
    font-family: "droid-sans",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 220%;
}

.project2:hover {
    color: deeppink;
}

.contacts {
    padding: 5px;
    display: none;
}

.showoff {
    margin: 0 0 0 20px;
    background-image: url("../img/mary_fruit_stand.jpg");
    width: 630px;
    height: 472px;
    display: none;
    white-space: nowrap;
    /*position: relative;*/
}

.showoff .closebutton{
    margin: 0 0 0 -13px;
}
.projectCopy {
    padding: 2%;
    /*border: dotted 2px black;*/
    margin: 50% 0 0 25%;
    display: inline-block;
    font-family: "droid-sans",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 380%;
    color: #2f4eff;
    background-color: black;
    /*width: 350px;*/
    /*white-space: nowrap;*/
}

.row {
    clear: both;
}

ul {
    list-style: none;
}

.closebutton {
    display: block;
    width: 20px;
    height: 20px;
}

.closebutton:hover {
    color: red;
}

@media only screen and (max-width: 500px) {

    body { font-size: .8em; }
    .showoff {width: 50%;}

}

.test {
    /*border: solid 2px black;*/
}